<div class="containerglobal">
<div class="left">
  <div class="tdb">
  <div>
    <button (click)="avancer()">avancer</button>
    <button type="button" (click)="toggleChild()">
      {{ showChild ? 'OFF' : 'ON' }}
    </button>
  </div>

 <app-simulation *ngIf="showChild" [wstacx]="wstacx" [wsarduino]="wsarduino"></app-simulation>

  <app-tdb [vit]="vit" [distParcours]="distParcours" [elevation]="elevation" [pente]="pente" [deniv]="deniv"></app-tdb>
  </div>
</div>
<div id="wrap" class="right">
  <div id="panoA" class="panoView"></div>
  <div id="panoB" class="panoView"></div>
</div>
</div>


